@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
  background: url("/pixelBackground.webp"), black;
  background-size: cover;
  cursor: url("/arrowPixel.png") 4 4, auto;
}
